body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: arimo, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.SimpleFont {
    font-family: arimo, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.SimpleText {
    margin: 5px 5px 5px 5px;
    color: #111111;
    border-style: none;
    text-decoration: none;
}

input.Textfield {
    margin: 0px 0px 0px 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    font-family: arimo, sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-color: white;
}

input.Textfield:focus {
    box-shadow: 0px 1px 0px #007bff;
    outline: none;
}

.Modal {
    /*border: thin solid;*/
    text-align: center;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 80px;
    width: 280px;
    left: calc(50% - 140px);
    z-index: 10;
}

.ModalBackground {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.Toast {
    border-style: none;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: none;
    background-color: white;
    font-family: arimo, sans-serif;
    font-size: 12px;
    font-weight: normal;
    z-index: 30;
}

.ToastContent {
    margin: 20px 20px 20px 20px;
}

a {
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    border-style: none;
    text-decoration: none;
    font-family: arimo, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.SidebarEntry {
    width: calc(100% - 10px);
    text-align: left;
    display: flex;
    flex-direction: row;
}

.SidebarEntryLabel {
    flex: auto;
    margin: auto;
    padding-left: 20px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.SidebarEntryUnreadCount {
    margin: auto;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #888888;
    color: white
}

.Button {
    text-decoration: none;
    border-style: none;
    cursor: pointer;
}

.ButtonPrimary {
    color: white;
    background-color: #007bff;
}

.ButtonPrimary:hover {
    background-color: #006ee5;
}

.ButtonSecondary {
    color: white;
    background-color: #6c757d;
}

.ButtonSecondary:hover {
    background-color: #616970;
}

.ButtonSuccess {
    color: white;
    background-color: #28a745;
}

.ButtonSuccess:hover {
    background-color: #24963e;
}

.ButtonInfo {
    color: white;
    background-color: #17a2b8;
}

.ButtonInfo:hover {
    background-color: #1491a5;
}

.ButtonWarning {
    color: white;
    background-color: #ffc107;
}

.ButtonWarning:hover {
    background-color: #e5ad06;
}

.ButtonDanger {
    color: white;
    background-color: #dc3545;
}

.ButtonDanger:hover {
    background-color: #c62f3e;
}

.ButtonDark {
    color: white;
    background-color: #343a40;
}

.ButtonDark:hover {
    background-color: #2e3439;
}

.ButtonLight {
    color: black;
    background-color: #cccccc;
}

.ButtonLight:hover {
    background-color: #cccccc;
}

.ButtonTransPrimary {
    color: #007bff;
    background-color: rgba(0, 0, 0, 0);
}

.ButtonTransPrimary:hover {
    background-color: #dddddd;
}

.ButtonTransDark {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
}

.ButtonTransDark:hover {
    background-color: #eeeeee;
}

.HeaderHolder {
    position: fixed;
    top: 0px;
    height: 45px;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;
}

.UserContent {
    position: relative;
    width: 700px;
    margin: auto;
    top: 55px;
    height: calc(100% - 125px);
}

.ChatContent {
    height: 100%;
    margin-right: 10px;
    width: calc(100% - 230px);
    float: right;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    border-bottom-style: none;
}

.SidebarContent {
    overflow: auto;
    background-color: white;
    margin-left: 10px;
    position: absolute;
    height: calc(100% + 60px);
    width: 200px;
    float: left;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    opacity: 1;
    z-index: 2;
}

.ChatMessage {
    position: relative;
    left: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
}

.ChatMessageRight {
    cursor: pointer;
    float: right;
    margin: 5px 0px 5px 5px;
    padding: 10px 10px 10px 10px;
    /*box-shadow: 5px 0px 0px #c9baff;*/
    border-radius: 5px;
    border: 1px solid #c9baff;
    background-color: #f1f2ff;
}

.ChatMessageLeft {
    cursor: pointer;
    float: left;
    margin: 5px 5px 5px 0px;
    padding: 10px 10px 10px 10px;
    /*box-shadow: -5px 0px 0px #ffb669;*/
    border-radius: 5px;
    border: 1px solid #ffb669;
    background-color: #ffeeee;
}

.ChatMessageTitle {
    color: #a8a8a8;
}

.ChatMessageDate {
    color: #a8a8a8;
    font-size: 12px;
    float: right;
    padding-top: 10px;
    margin: 0;
}

.ChatFileMsgAttachmentSvg {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    vertical-align: middle;
    display: inline-block
}

.ChatImgFileMsgAttachment {
    margin: auto;
    padding-bottom: 10px;
    max-width: 270px;
    height: auto;
    vertical-align: middle;
    display: block;
}

.ChatFooter {
    /*box-shadow: 0px -1px 0px #c9baff;*/
    background-color: #eeeeee;
    height: 60px;
    width: 471px;
    position: absolute;
    bottom: -60px;
    left: 219px;
    z-index: 1;
}

.MainContent {
    position: relative;
    top: 55px;
    width: 700px;
    margin: auto;
}

.Header {
    box-shadow: 0px 2px 0px #c9baff;
    background-color: #ffffff;
    height: 45px;
    width: 700px;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .Header {
        width: 100%;
    }

    .ChatFooter {
        left: 0px;
        bottom: -70px;
        width: 100%;
    }

    .MainContent {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }

    .UserContent {
        width: 100%;
    }

    .ChatContent {
        margin-right: 0px;
        width: 100%;
        border: none;
    }

    .SidebarContent {
        top: 0px;
        width: 95%;
        left: 0px;
        opacity: 0.9;
        box-shadow: 0px 0px 10px #999999;
    }

    #OptionsSvg {
        display: inline-block !important;
    }
}

.HeaderLeft {
    float: left;
}

.HeaderRight {
    float: right;
}

.CaretSvg {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.HomeHeaderSvg {
    width: 100%;
    margin: auto;
    opacity: 0.1;
}

.HeaderUserProfileSvg {
    width: 15px;
    height: 15px;
    padding: 10px 0px 10px 10px;
    vertical-align: middle;
}

.HeaderUserCaretSvg {
    width: 15px;
    height: 15px;
    padding: 10px 10px 10px 0px;
    vertical-align: middle;
}

.HeaderLogoSvg {
    width: 15px;
    height: 15px;
    padding: 10px 0px 10px 10px;
    vertical-align: middle;
}

#OptionsSvg {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
    display: none;
}

.SendTextSvg {
    width: 22px;
    height: 22px;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

.MyCheckboxAndRadiobutton {
    cursor: pointer;
}

.MyCheckboxAndRadiobuttonImg {
    width: 20px;
    height: 20px;
    margin: 0px 2px 2px 2px;
    vertical-align: middle;
}

.Dropdown {
    position: relative;
    display: block;
}

.DropdownHolder {
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    width: 160px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #bbbbbb;
    z-index: 20;
    text-align: left;
    cursor: pointer;
}

.Dropdown:hover .DropdownHolder {
    display: block;
}

.DropdownItem {
    padding: 10px 20px 10px 20px;
}

.DropdownItem:hover {
    background-color: #eeeeee;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

.MessageTypeLabel {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.FileTransferIFrame {
    vertical-align: middle;
    height: 25px;
    width: 20px;
    display: none;
    border: none;
}