<html lang="en">
<% #head.html %>
<body>
<% #header.html %>

<div class="Modal" style="box-shadow: 0px 0px 10px #bbbbbb;">
    <div class="SimpleText SimpleFont" style="float: left;margin-left: 20px;margin-top: 20px;">Username</div>
    <input placeholder="" value="" class="Textfield"
           style="width:240px; height:40px;" type="text" id="username"/>
    <br/>
    <div class="SimpleText SimpleFont" style="float: left;margin-left: 20px;margin-top: 20px;">Password</div>
    <input placeholder="" value="" class="Textfield"
           style="width:240px; height:40px;" type="password" id="password"/>
    <br/><br/><br/>

    <div id="loginRememberMe" onclick='checkboxUpdate("loginRememberMe")' class="MyCheckboxAndRadiobutton SimpleFont" selected="false" style="text-align: left;padding-left: 20px;">
        <img src="checkbox0.svg" class="MyCheckboxAndRadiobuttonImg"/>
        Remember me
    </div>

    <br/>
    <input type="button" class="Button ButtonTransPrimary SimpleFont" value="SIGN IN" style="width:240px; height:40px;" onclick="login()"/>
    <br/><br/>
    <div class="SimpleFont" style="box-shadow: 0px -1px 0px #007bff;"> <br/> You do not have an account?  </div> <br/>
    <input type="button" class="Button ButtonTransPrimary SimpleFont" value="SIGN UP" style="width:240px; height:40px;" onclick='location.href="/signup"'/>
    <br/><br/>
</div>

<script>
    var func = function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            login();
        }
    };
    document.getElementById("username").addEventListener("keydown", func);
    document.getElementById("password").addEventListener("keydown", func);
</script>

</body>
</html>
