<html lang="en">
<% #head.html %>
<body>

<% #header.html %>

<div id="UserContent" class="UserContent" style="">
    <div id="ChatContent" class="ChatContent">
    </div>
    <div class="SidebarContent" id="SidebarContent">
        <div class="SidebarEntry" style="box-shadow: 0px 1px 0px #bbbbbb;padding-left: 10px">
            <input placeholder="Search" value="" class="Textfield" type="text" id="SearchField" onkeyup="searchUsers()"
                   style="flex: auto; margin: 3px 3px 3px 3px;padding-left: 5px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap; height: 30px"/>
            <img src="close.svg" class="Button ButtonTransPrimary"
                 style="display:none; width: 17px;height: 17px;vertical-align: middle;margin: auto;padding: 5px 5px 5px 5px"
                 id="ClearUserSearchFieldButton"
                 onclick='document.getElementById("SearchField").value = ""; searchUsers();'/>
            <img src="search.svg" class="Button ButtonTransPrimary"
                 style="width: 20px;height: 20px;vertical-align: middle;margin: auto;padding: 5px 5px 5px 5px"
                 onclick=""/>
        </div>
        <div id="UsersList" onclick="sidebarClicked()"></div>
    </div>
    <div class="ChatFooter">
        <input placeholder="Write a message" value="" class="Textfield"
               style="width:calc(100% - 110px); height:40px;margin-left: 10px;margin-top: 10px;" type="text"
               id="messageField"/>
        <img src="send.svg" class="SendTextSvg Button ButtonTransPrimary" onclick="sendMessage()"/>
        <form name="uploadForm" style="display: inline-block;height: 25px;width: 22px;" target="uploadFrame"
              method="POST" action="uploadFile" enctype="multipart/form-data">
            <label class="Button ButtonTransPrimary SimpleFont" style="display: inline-block">
                <input class="" type="file" name="file" style="" onchange="uploadFileChanged(this)"/> <img
                    src="attachment.svg" class="SendTextSvg"/>
                <label class="SimpleFont" style="display:none;">File</label>
            </label>
            <label>
                <input type="submit"/>
            </label>
        </form>
        <iframe class="FileTransferIFrame" id="FileTransferIFrame" name="uploadFrame"></iframe>
    </div>
</div>

<script>
    var chatContent = document.getElementById("ChatContent");
    var usersList = document.getElementById("UsersList");

    var func = function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            sendMessage();
        }
    };
    document.getElementById("messageField").addEventListener("keydown", func);

    var hasWideScreen = true;

    function mediaFunc(x) {
        var sidebar = document.getElementById("SidebarContent");
        if (x.matches) {
            hasWideScreen = false;
            sidebar.style.display = "none";
        } else {
            hasWideScreen = true;
            sidebar.style.display = "block";
        }
    }

    var matchWidth = window.matchMedia("(max-width: 700px)")
    mediaFunc(matchWidth);
    matchWidth.addListener(mediaFunc);

    function sidebarClicked() {
        if (!hasWideScreen) {
            var sidebar = document.getElementById("SidebarContent");
            sidebar.style.display = "none";
        }
    }

    var ws = null;

    function wsConnect() {
        ws = new WebSocket("wss://" + window.location.host + "/ws");
        ws.onopen = function () {
            console.log("ws.onopen");
        };
        ws.onmessage = function (evt) {
            console.log("ws.onmessage");
            var elem = evt.data;
            var cmd = elem.substring(0, elem.indexOf("\n"));
            var body = elem.substring(elem.indexOf("\n") + 1, elem.length);
            if (cmd === "users") {
                usersList.innerHTML = '';
                usersList.insertAdjacentHTML("beforeend", body);
                usersList.scrollTop = usersList.scrollHeight;
                document.getElementById("SearchField").value = '';
                searchUsers();
            } else if (cmd === "page") {
                chatContent.innerHTML = '';
                chatContent.insertAdjacentHTML("beforeend", body);
                chatContent.scrollTop = chatContent.scrollHeight;
            } else if (cmd === "load") {
                var child = chatContent.childNodes[0];
                chatContent.insertAdjacentHTML("afterbegin", body);
                child.scrollIntoView();
            } else if (cmd === "checkForLoadingMore") {
                if (chatContent.scrollTop === 0) {
                    if (chatContent.childNodes.length !== 0) {
                        ws.send("top\n" + chatContent.childNodes[0].getAttribute("date"));
                    }
                }
            } else if (cmd === "delete-msg") {
                document.getElementById(body).style.display = "none";
            } else if (cmd === "redirect") {
                location.href = body;
            } else if (cmd === "msg") {
                chatContent.insertAdjacentHTML("beforeend", body);
                chatContent.scrollTop = chatContent.scrollHeight;
            }
        };
        ws.onclose = function () {
            console.log("ws.onclose");
            setTimeout(function () {
                wsConnect()
            }, 1000);
        };
    }

    wsConnect();

    setInterval(function () {
        if (ws == null) {
            return;
        }
        ws.send("ping\n");
    }, 20000);

    function sendMessage() {
        if (ws == null) {
            return;
        }
        var msg = document.getElementById("messageField").value.trim();
        if (msg === "") {
            return;
        }
        ws.send("msg\n" + msg);
        document.getElementById("messageField").value = "";
    }

    function changePage(uname) {
        if (ws == null) {
            return;
        }
        ws.send("change-page\n" + uname);
        document.getElementById("messageField").value = "";
    }

    function deleteChatMessage(msgId) {
        if (ws == null) {
            return;
        }
        ws.send("delete-msg\n" + msgId);
    }

    chatContent.onscroll = function () {
        if (chatContent.scrollTop === 0) {
            if (ws == null) {
                return;
            }
            if (chatContent.childNodes.length !== 0) {
                ws.send("top\n" + chatContent.childNodes[0].getAttribute("date"));
            }
        }
    };
</script>

</body>
</html>

