<html lang="en">
<% #head.html %>
<body>

<% #header.html %>

<div id="ChatContent" class="MainContent ChatContent">
</div>

<div class="FooterHolder">
    <div class="Footer">
        <input placeholder="Write a message" value="" class="Textfield"
           style="width:calc(100% - 160px); height:40px;margin-left: 10px;margin-top: 10px;padding-left: 5px;" type="text" id="messageField"/>
        <input type="button" class="Button ButtonTransPrimary SimpleFont" value="SEND" style="width:50px; height:25px;" onclick="sendMessage()"/>
        <form name="uploadForm" style="display: inline-block;height: 25px;width: 80px;" target="uploadFrame" method="POST" action="uploadFile" enctype="multipart/form-data">
            <label class="Button ButtonTransPrimary SimpleFont" style="">
                <input class="" type="file" name="file" style="" onchange="uploadFileChanged(this)"/> SEND FILE
                <label class="SimpleFont" style="display:none;">File</label>
            </label>
            <label>
                <input type="submit"/>
            </label>
        </form>
        <iframe class="UploadIFrame" name="uploadFrame"></iframe>
    </div>
</div>

<script>
    var func = function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            sendMessage();
        }
    };
    document.getElementById("messageField").addEventListener("keydown", func);

    var ws = null;
    function wsConnect() {
        ws = new WebSocket("wss://" + window.location.host + "/ws");
        ws.onopen = function(){
            console.log("ws.onopen");
        };
        ws.onmessage = function(evt){
            console.log("ws.onmessage");
            var content = document.getElementById("ChatContent");
            var elem = evt.data;
            content.insertAdjacentHTML("beforeend", elem);
            content.scrollTop = content.scrollHeight;
        };
        ws.onclose = function(){
            console.log("ws.onclose");
            wsConnect();
        };
    }
    wsConnect();
    function sendMessage(){
        if(ws == null){
            return;
        }
        var msg = document.getElementById("messageField").value.trim();
        if(msg === ""){
            return;
        }
        ws.send(msg);
        document.getElementById("messageField").value = "";
    }
</script>

</body>
</html>

